div#slider {
    overflow: hidden;
}
div#slider figure{
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    text-align: left;
    font-size: 0;
    animation: 30s slidy infinite;
}
div#slider figure img {
    height: 700px;
    width: 20%;
    float: left;
}

@keyframes slidy {
    0% {
        left: 0%;
    }
    20% {
        left: 0%;
    }
    25% {
        left: -100%;
    }
    45% {
        left: -100%;
    }
    50% {
        left: -200%;
    }
    70% {
        left: -200%;
    }
    75% {
        left: -300%;
    }
    95%{
        left: -300%;
    }
    100% {
        left: -400%;
    }

}
div#slider_logo {
    overflow: hidden;
}
div#slider_logo figure > div{
    float: left;
}
div#slider_logo figure > div >img{
    margin-left: 100px;
}
div#slider_logo figure{
    position: relative;
    width: 300%;
    animation: 20s slidelogo infinite;
}
@keyframes slidelogo{
    0% {
        left: 0%;
    }
    20% {
        left: 0%;
    }
    45% {
        left: -100%;
    }
    /*65% {*/
    /*    left: -100%;*/
    /*}*/
    100% {
        left: -200%;
    }
}
